

body {
    /*background-image: linear-gradient(to bottom, #EEE, #EEE 21pt, #EEE 21pt);
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    background-color: #EEE;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    overscroll-behavior-y: contain;
  }


.header {
    z-index: 900;
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #0c3c58;
    /* Status bar height on iOS 10 */
    padding-top: 20px;
    /* Status bar height on iOS 11.0 */
    padding-top: constant(safe-area-inset-top);
    /* Status bar height on iOS 11+ */
    padding-top: env(safe-area-inset-top);
}

@media screen and (max-width: 480px) {
  .header {
    height: 88px;
    position: fixed;
  }
}

img.logo {
  height: 33px;
  padding: 10px 0px 13px 0px;
  z-index: 2000;
}

@media screen and (max-width: 480px) {
  img.logo {
    height: 30px;
    padding: 0px 0px 0px 0px;
    position: relative;
    vertical-align: middle;
  }
}

  .header ul{
      margin: auto;
      max-width: 710px;
      width: 96%; /* Full-width */
      list-style-type: none;
      box-sizing: border-box;
      padding: 2px 0px 0px;
      position: relative;
      top: 0;
      text-align: left;
      
    }

    @media screen and (max-width: 480px) { 
      .header ul{
          list-style-type: none;
          box-sizing: border-box;
          padding: 10px 0px 0px;
          position: relative;
          top: 0;
          text-align: center;
          margin: 0;
          z-index: 900;
        }
      }

  /* Burger Menu */
                
  .menuWeb {
    display: inline-block;
  }

  .menuMob {
    display: none;
  }
  @media screen and (max-width: 480px) {
    .menuWeb {
      display: none;
    }

    .menuMob {
      height: 0;
      display: block;
    }
  } 

                  a
                  {
                    text-decoration: none;
                    color: #232323;
                    
                    transition: color 0.3s ease;
                  }
                  
                  
                  #menuToggle
                  {
                    display: block;
                    position: relative;
                    top: 7px;
                    left: 5px;
                    padding-right: 20px;
                    z-index: 1100;
                    -webkit-user-select: none;
                    user-select: none;
                  }
                  @media screen and (max-width: 480px) {
                    #menuToggle
                    {  
                      padding-right: 0px;
                      top: 10px;
                      left: 15px;
                    }
                  }
                  
                  #menuToggle input
                  {
                    display: block;
                    width: 40px;
                    height: 32px;
                    position: absolute;
                    top: -16px;
                    left: -8px;
                    
                    cursor: pointer;
                    
                    opacity: 0; /* hide this */
                    z-index: 1100; /* and place it over the hamburger */
                    
                    -webkit-touch-callout: none;
                  }
                  
                  /*
                  * Just a quick hamburger
                  */
                  #menuToggle span
                  {
                    display: block;
                    width: 20px;
                    height: 1px;
                    margin-bottom: 5px;
                    position: relative;
                    
                    background: #ffffff;
                    border-radius: 3px;
                    
                    z-index: 1100;
                    
                    transform-origin: 4px 0px;
                    
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.55s ease;
                  }
                  
                  #menuToggle span:first-child
                  {
                    transform-origin: 0% 0%;
                  }
                  
                  #menuToggle span:nth-last-child(2)
                  {
                    transform-origin: 0% 100%;
                  }
                  
                  /* 
                  * Transform all the slices of hamburger
                  * into a crossmark.
                  */
                  #menuToggle input:checked ~ span
                  {
                    opacity: 1;
                    transform: rotate(45deg) translate(0px, -3px);
                    background: #ffffff;
                  }
                  
                  
                  /*
                  * Ohyeah and the last one should go the other direction
                  */
                  #menuToggle input:checked ~ span:nth-last-child(2)
                  {
                    transform: rotate(-45deg) translate(0px, 4px);
                  }
                  
                  /*
                  * Make this absolute positioned
                  * at the top left of the screen
                  */
                  
                  #mainMenu{
                    opacity: 0;
                  }

                  @media screen and (max-width: 480px) {
                  #mainMenu
                  {
                    opacity: 1;
                    position: absolute;
                    width: 105%;
                    height: 700px;
                    top: 60px;
                    margin: auto;
                    padding: 0;
                    padding-top: 125px;
                    left: -15px;
                    z-index: 1000;
                    
                    background-color: #0c3c58;
                    list-style-type: none;
                    -webkit-font-smoothing: antialiased;
                    /* to stop flickering of text in safari */
                    
                    transform-origin: 0% 0%;
                    transform: translate(0,-100%);
                    
                    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
                  }
                 }

                  #menuToggle input:checked ~ menu {
                    background-color: #323232;
      
                    -webkit-transition: background-color 1000ms linear;
                    -ms-transition: background-color 1000ms linear;
                    transition: background-color 0.5s linear; 
                  }
                  
                  /*
                  * And let's slide it in from the left
                  */
                  #menuToggle input:checked ~ ul
                  {
                    transform: none;
                  }

                  #mainList {
                    position: absolute;
                    z-index: 1100;
                    color: white;
                    display: inline-block;
                    display: none;
                    font-family: DIN Alternate, sans-serif;
                    font-size: 16px;
                    font-weight: 100;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    width: 100%;
                    margin-top: 40px;
                    border-top: solid 1px #555555;
                    /*transition: opacity 0.5s linear;*/
                  }

                  #mainList ul {
                    width: 100%;
                    padding: 0px 0px 0px;
                  }

                  #mainList li {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 4px;
                    border-bottom: solid 1px #555555;
                    margin-left: 12%;
                    margin-right: 12%;
                    text-align: left;
                  }

                  #ig {
                    height: 16px;
                    padding-top: 4px;
                  }


  /* End - Burger Menu */


  /*navigation ribbon*/
  #navhead {
    top: -7px;
    position: relative;
    background-color:#082a3e;
  }

  @media screen and (max-width: 480px) {
    #navhead {
      top: 12px;
      display: none;
    }
  }

  div.navigation {
    /*left: 50%;
    transform: translate(-50%, 0%);*/
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    background-color: #082a3e;
    /*border-top: 1px solid #cccccc;*/
    padding: 0px 8px 0px 8px;
    font-size: 0px;
    position: relative;
    margin: auto;
    max-width: 713px;
    width: 100%; /* Full-width */
    vertical-align: middle;
  }

  div.navigation button{
    color: #bbbbbb;
    background-color: transparent;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 10px 15px 10px 15px;
    margin: 4px 0px 0px 0px;
    /*float:left;*/
    display: inline-block;
    font-family: DIN Alternate, sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
  }

#navActive {
  border-bottom: 4px solid orange;
  color: #ffffff
}

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
  }

  .searchhead {
    margin: auto;
    max-width: 713px;
    padding: 0px 8px;
  }

  @media screen and (max-width: 480px) {
    .searchhead {
      padding: 0px 0px;
    }
  }

  .search {
    position: relative;
    top: -52px;
    max-width: 500px;
    width: 70%; /* Full-width */
    height: 35px;
    float: right;
    z-index: 1000;
  }

  @media screen and (max-width: 480px) { 
  .search {
    position: relative;
    top: 6px;
    margin: auto;
    max-width: 500px;
    width: 97%; /* Full-width */
    height: 35px;
    float: none; 
  }
  }

  #butFilter {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: static;
    width:40%;
    max-width: 180px;
    background: #f3f3f3;
    vertical-align: middle;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #666666;
    text-transform: uppercase;
    height: 100%;
    border: 0px;
    border-right: 1px solid #cdcdcd;
    outline: 0;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media screen and (max-width: 480px) {
    #butFilter {
      max-width: 250px;
    }
  }

  #butFilter::after {
    content: '\00A0\00A0\25b6\00fe0e';
    color:  #cdcdcd;
  }
  
  #butFilter::before {
    content: '\25c0\00fe0e\00A0\00A0';
    color:  #cdcdcd;
  }

  #myInput {
    border-radius: 0px;
    outline: 0;
    width: calc(60% - 60px); /* Full-width */
    max-width: 258px;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0px;
    position: static;
    z-index: 100;
    text-align: left;
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    height: 100%;
    -webkit-appearance: none;
    box-shadow: none;
    vertical-align: middle;
  }

  #myInput::placeholder{
    color: #c0c0c0;
    opacity: 1;
  }

  #search:focus {
    border: 1px solid orange;
  }

  .search button {
    right: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 45px;
    height: 100%;
    background:orange;
    border: 1px solid orange;
    color: white;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    padding: 1px 0px 0px 6px;
    outline: none;
  }
  
  @media screen and (max-width: 480px) {
    .search button {
      padding: 1px 0px 0px 2px;
    }

  }

  .search ul {
    padding: 1px;
  }

  .mag {
    width: 25px;
    padding: 0px;
    border: 0px; 
    top: -6px;
    padding: 1.5px;
  }

  .show {
    transition: opacity 0.3s linear;
    opacity: 1; 
    height: auto;
  }

  .closed {
    opacity: 1; 
    height: auto;
  }

  @media screen and (max-width: 480px) {
    .closed {
      transition: opacity 0.3s linear;
      opacity: 0; 
      height: 0;
    }
  }

  .gone {
    display: none;
  }
  
  

  /*.stackHeader {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #14567d;
    color: #FFF;
    overflow: auto;
    padding: 10px 1px 10px;
    position: absolute;
    top: 100px;
    width: 80%;
    max-width: 560px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }*/

  
  .blogger::-webkit-scrollbar { width: 0 !important }
  .blogger {
    top: 102px;
    left: 50%;
    position: absolute;
    width: 38%;
    max-width: 280px;
    margin-right: 0%;
    vertical-align: top;
    transform: translate(-128%, 0%);
    color: #FFF;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    overflow-y: scroll;
    height: calc(100% - 82px);
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Status bar height on iOS 10 */
    padding-top: 20px;
    /* Status bar height on iOS 11.0 */
    padding-top: constant(safe-area-inset-top);
    /* Status bar height on iOS 11+ */
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  @media only screen and (max-width: 480px) {
    .blogger {
      top: 94px;
      height: calc(100% - 94px);
      }
    }

    @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .blogger {
  height: calc(100% - 122px);
  }
}

@media only screen 
and (min-device-width : 1024px)  { 
  .blogger {
  height: calc(100% - 102px);
  }
}


  .blog::-webkit-scrollbar { width: 0 !important }
  .blog {
    top: 102px;
    left: 50%;
    position: absolute;
    width: 58%;
    max-width: 428px;
    margin-right: 0%;
    vertical-align: top;
    transform: translate(-16%,0%);
    color: #323232;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    overflow-y: scroll;
    height: calc(100% - 82px);
    display: inline-block;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* Status bar height on iOS 10 */
    padding-top: 20px;
    /* Status bar height on iOS 11.0 */
    padding-top: constant(safe-area-inset-top);
    /* Status bar height on iOS 11+ */
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  @media only screen and (max-width: 480px) {
  .blog {
    top: 94px;
    height: calc(100% - 94px);
    }
  }

  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  .blog {
  height: calc(100% - 122px);
  }
}

@media only screen 
and (min-device-width : 1024px)  { 
  .blog {
  height: calc(100% - 102px);
  }
}

  .image1r {
    min-width: 50px;
    background: url("https://scontent.flhr4-2.fna.fbcdn.net/v/t1.0-9/27858096_337250043430016_4527363611506847069_n.jpg?_nc_cat=110&oh=2153b275fcce46810fc5c9e6c885cd48&oe=5C5B69CA");
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
  .image2r {
    min-width: 50px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/t/4/assets/logo-small.svg?14457229167469512304");
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

   .image1g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/20171013-WTW_07211_large.jpg?v=1535365207");
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

  .image2g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/ATCO_8.9_large.jpg?v=1538565711");
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

  .image3g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/20171008-WTW_06457_large.jpg?v=1535365157");
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

  .image4g {
    min-width: 75px;
    background: url("https://static1.squarespace.com/static/5a75c1c8be42d6cd6a794749/t/5b9a7a520ebbe8e940a1d005/1536850517136/WhatsApp+Image+2018-04-25+at+09.37.46.jpeg?format=1500w");
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

  .image5g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/messi_yerba_mate_large.jpg?v=1522328410");
    background-size: cover;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

  .titler {
    background: #607c8d;
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .titleg {
    background: #ffffff;
    padding: 1px 1px 2px 1px;
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  #desc {
    margin: 0px;  
    padding: 4px 5px 2px;
    height: 74px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  #acc {
    margin: 0px;  
    padding: 2px 5px 0px;
    font-size: 7px;
    height: 10px;
    overflow: hidden;
    color: orange;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  #desc_r {
    width: calc(100% - 10px);
    margin: 0px;  
    padding: 2px 5px 6px;
    height: 22px;
    line-height: 12px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  #acc_r {
    width: 100%;
    margin: 0px;  
    padding: 0px 5px;
    font-size: 7px;
    height: 8px;
    overflow: hidden;
    color: orange;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  a:link {color: inherit; text-decoration: inherit}
  a:visited {color: inherit; text-decoration: inherit}
  a:hover {color: orange; text-decoration: none}
  a:active {color: inherit; text-decoration: inherit}

  .stats ul{
    color: inherit;
    padding: 0px 5px 3px;
    margin: 0;
    background-color: inherit;
    overflow: auto;
    font-size: 10px;
    opacity: 0;
    height: 0px;
  }

  .stats li {
    float:left;
    display: block;
    font-family: 'DIN Alternate', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    padding: 0px 1px;
    text-transform: uppercase;
    opacity: 0;
  }

