

body {
    background: #EEE;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    overscroll-behavior-y: contain;
  }

.header {
    z-index: 500;
    position: fixed;
    width: 100%;
}

.header ul{
    box-sizing: border-box;
    background-color: #0c3c58;
    overflow: auto;
    padding: 24px 1px 4px;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0;
  }



/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 88px;
  }

  div.navigation {
    overflow: auto;
    white-space: nowrap;
    background-color: #0c3c58;
    border-top: 1px solid #cccccc;
    padding: 0px 8px;
    font-size: 0px;
  }

  div.navigation a {
    color: #bbbbbb;
    /*float:left;*/
    display: inline-block;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
  }

  div.navigation p {
    padding: 0px 10px 0px 10px;
    margin: 6px 0px;
    border-right: 1px solid #bbbbbb;
  }

  div.navigation a:hover {
    text-decoration: underline;
    text-decoration-color: #0c3c58;
  }

  .active {
    border-bottom: 4px solid orange;
  }

  .active p {
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
  }

  .search {
    left:50%;
  }

  #myInput {
    left: 50%;
    transform: translate(-50%, 0%);
    top: 100px;
    background-image: url('../images/search.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 96%; /* Full-width */
    max-width: 714px;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    position: absolute;
    z-index: -100;
    border-width: 4px 5px;
    border-color: #EEE;
    text-align: center;
  }

  .gone {
    display: none;
  }

  /*.stackHeader {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #14567d;
    color: #FFF;
    overflow: auto;
    padding: 10px 1px 10px;
    position: absolute;
    top: 100px;
    width: 80%;
    max-width: 560px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }*/

  

  .blogger {
    left: 50%;
    position: absolute;
    width: 38%;
    max-width: 280px;
    margin-right: 0%;
    vertical-align: top;
    transform: translate(-128%, 0%);
    color: #FFF;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow-y: scroll;
    height: 100%;
    display: inline-block;
  }


  .blog {
    left: 50%;
    position: absolute;
    width: 58%;
    max-width: 428px;
    margin-right: 0%;
    vertical-align: top;
    transform: translate(-16%,0%);
    color: #323232;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow-y: scroll;
    height: 100%;
    display: inline-block;
  }

  .spacer {
      height: 145px;
  }

  .image1r {
    min-width: 50px;
    background: url("https://scontent.flhr4-2.fna.fbcdn.net/v/t1.0-9/27858096_337250043430016_4527363611506847069_n.jpg?_nc_cat=110&oh=2153b275fcce46810fc5c9e6c885cd48&oe=5C5B69CA");
    background-size: contain;
    background-position: center;
}
  .image2r {
    min-width: 50px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/t/4/assets/logo-small.svg?14457229167469512304");
    background-size: contain;
    background-position: center;
}

   .image1g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/20171013-WTW_07211_large.jpg?v=1535365207");
    background-size: cover;
}

  .image2g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/ATCO_8.9_large.jpg?v=1538565711");
    background-size: cover;
}

  .image3g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/20171008-WTW_06457_large.jpg?v=1535365157");
    background-size: cover;
}

  .image4g {
    min-width: 75px;
    background: url("https://static1.squarespace.com/static/5a75c1c8be42d6cd6a794749/t/5b9a7a520ebbe8e940a1d005/1536850517136/WhatsApp+Image+2018-04-25+at+09.37.46.jpeg?format=1500w");
    background-size: cover;
}

  .image5g {
    min-width: 75px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/messi_yerba_mate_large.jpg?v=1522328410");
    background-size: cover;
}

  .titler {
    background: #14567d;
    width: 100%;
  }

  .titleg {
    background: #ffffff;
    padding: 1px 1px 2px 1px;
    width: 100%;
  }

  #desc {
    margin: 0px;  
    padding: 4px 5px 2px;
    height: 74px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  #acc {
    margin: 0px;  
    padding: 2px 5px 0px;
    font-size: 7px;
    height: 10px;
    overflow: hidden;
    color: orange;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #desc_r {
    width: 85%;
    margin: 0px;  
    padding: 2px 5px 6px;
    height: 22px;
    line-height: 12px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  #acc_r {
    width: 85%;
    margin: 0px;  
    padding: 0px 5px;
    font-size: 7px;
    height: 8px;
    overflow: hidden;
    color: orange;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a:link {color: inherit; text-decoration: inherit}
  a:visited {color: inherit; text-decoration: inherit}
  a:hover {color: orange; text-decoration: underline}
  a:active {color: inherit; text-decoration: inherit}

  .stats ul{
    color: inherit;
    padding: 6px 5px 2px;
    margin: 0;
    background-color: inherit;
    overflow: auto;
    font-size: 10px;
  }

  .stats li {
    float:left;
    display: block;
    font-family: 'DIN Alternate', sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    padding: 0px 1px;
    text-transform: uppercase;
  }

