
body {
    background: #EEE;
    margin: 0;
    padding: 0;
  }

.header {
    z-index: 500;
}

.header ul{
    box-sizing: border-box;
    background-color: #0c3c58;
    overflow: auto;
    padding: 10px 1px 6px;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 0;
  }



/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  div.navigation {
    overflow: auto;
    white-space: nowrap;
    background-color: #0c3c58;
    border-top: 1px solid #cccccc;
    padding: 0px 8px;
    font-size: 0px;
  }

  div.navigation a {
    color: #bbbbbb;
    /*float:left;*/
    display: inline-block;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
  }

  div.navigation p {
    padding: 0px 10px 0px 10px;
    margin: 6px 0px;
    border-right: 1px solid #bbbbbb;
  }

  div.navigation a:hover {
    text-decoration: underline;
    text-decoration-color: #0c3c58;
  }

  .active {
    border-bottom: 4px solid orange;
  }

  .active p {
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
  }

  /*.stackHeader {
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #14567d;
    color: #FFF;
    overflow: auto;
    padding: 10px 1px 10px;
    position: absolute;
    top: 100px;
    width: 80%;
    max-width: 560px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }*/

  

  .blogger {
    left: 50%;
    top: 100px;
    overflow-y: scroll;
    position: absolute;
    width: 48%;
    max-width: 273px;
    margin-right: -50%;
    transform: translate(-102%, 0%);
    color: #FFF;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .blog {
    left: 50%;
    top: 100px;
    overflow-y: scroll;
    position: absolute;
    width: 48%;
    max-width: 273px;
    margin-right: -50%;
    vertical-align: top;
    transform: translate(2%,0%);
    color: #323232;
    font-family: 'DIN Alternate', sans-serif;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .image1r {
    width: 85px;
    background: url("https://scontent.flhr4-2.fna.fbcdn.net/v/t1.0-9/27858096_337250043430016_4527363611506847069_n.jpg?_nc_cat=110&oh=2153b275fcce46810fc5c9e6c885cd48&oe=5C5B69CA");
    background-size: contain;
}
  .image2r {
    width: 85px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/t/4/assets/logo-small.svg?14457229167469512304");
    background-size: contain;
}

   .image1g {
    width: 85px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/20171013-WTW_07211_large.jpg?v=1535365207");
    background-size: cover;
}

  .image2g {
    width: 85px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/ATCO_8.9_large.jpg?v=1538565711");
    background-size: cover;
}

  .image3g {
    width: 85px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/20171008-WTW_06457_large.jpg?v=1535365157");
    background-size: cover;
}

  .image4g {
    width: 85px;
    background: url("https://static1.squarespace.com/static/5a75c1c8be42d6cd6a794749/t/5b9a7a520ebbe8e940a1d005/1536850517136/WhatsApp+Image+2018-04-25+at+09.37.46.jpeg?format=1500w");
    background-size: cover;
}

  .image5g {
    width: 85px;
    background: url("https://cdn.shopify.com/s/files/1/0010/2832/5442/files/messi_yerba_mate_large.jpg?v=1522328410");
    background-size: cover;
}

  .titler {
    background: #14567d;
    min-width: 80px;
  }

  .titleg {
    background: #ffffff;
    min-width: 80px;
  }

  #desc {
    margin: 0px;  
    padding: 5px 5px;
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  #acc {
    margin: 0px;  
    padding: 5px 5px;
    font-size: 7px;
    height: 10px;
    color: orange;
  }

  #desc_r {
    margin: 0px;  
    padding: 5px 5px;
    height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  #acc_r {
    margin: 0px;  
    padding: 5px 5px;
    font-size: 7px;
    height: 60px;
    color: orange;
  }

  a:link {color: inherit; text-decoration: inherit}
  a:visited {color: inherit; text-decoration: inherit}
  a:hover {color: orange; text-decoration: underline}
  a:active {color: inherit; text-decoration: inherit}

  .stats ul{
    color: inherit;
    padding: 0px 5px;
    margin: 0;
    background-color: inherit;
    overflow: auto;
    font-size: 10px;
  }

  .stats li {
    float:left;
    display: block;
    font-family: 'DIN Alternate', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 1px 1px;
    text-transform: uppercase;
  }

